<h1>客先みえるくん　メインメニュー</h1>
<br>
<%= link_to 'アンケート回答', responses_path %>
<br>
<%= link_to 'アンケート回答明細', response_items_path %>
<br>
<br>
<br>
<b>マスタ管理</b>
<br>
<p><%= link_to '顧客管理', customers_path %></p>
<br>
<br>
<br>

