<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>タイトル</th>
    <th width=15%>掲載期限</th>
  </tr>

<% @topics.each do |topic| %>
  <% if topic.effective_to >= Date.today %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= topic.effective_to %></td>
  </tr>
  <% end %>
<% end %>
</table>