<table border=1>
  <tr>
    <th>タイトル</th>
    <th>期　　限</th>
  </tr>

<% @topics.each do |topic| %>
  <% if topic.effective_to > Date.today %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= topic.effective_to %></td>
  </tr>
  <% end %>
<% end %>
</table>