<p>
  <b>顧客名:</b>
  <%= @customer.csname %>
</p>

<p>
  <b>顧客コード:</b>
  <%= @customer.cscode %>
</p>


<%= link_to t('Edit'), edit_customer_path(@customer) %> |
<%= link_to t('Back'), customers_path %>
